 .grid-container {
     display: grid;
     height: 100%;
     grid-template-columns: 100%;
     grid-template-rows: 60px 50px 1fr;
     grid-template-areas:
         "header"
         "nav"
         "main";
 }


 header {
     grid-area: header;
 }

 nav {
     grid-area: nav;
 }

 main {
     grid-area: main;
     display: grid;
 }


 .half-size-charts,
 .social-media-info,
 .member-info,
 .message-and-settings {
     display: grid;
     grid-gap: 2px;
 }

 .half-size-charts,
 .member-info,
 .message-and-settings {
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
 }

 .widget-container-full,
 .widget-container-half {
     width: 95vw;
 }


 @media (min-width: 768px) {
     .grid-container {
         grid-template-rows: 70px 60px 1fr; 
     } 
     
     .widget-container-full {
         width: 90vw; 
     }

     .widget-container-half {
         width: 45vw;
     }
 }

 @media (min-width: 1024px) {
     header {
         width: 100vw;
     }

     .grid-container {
         grid-template-columns: 60px 1fr;
         grid-template-rows: 60px 1fr;
         grid-template-areas:
             "header header"
             "nav main";
     }

     nav {
         flex-direction: column;
         justify-content: flex-start;
     }

     nav img {
         width: 36px;
         height: 32px;
         margin: 20px auto 15px;
     }

     .social-media-info {
         grid-template-columns: repeat(3, 1fr);
     }
 }