* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
::-webkit-scrollbar {
    display: none;
}
 
html {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

body {
    height: 100vh;
}


.dash-top,
.full-size-chart,
.half-size-charts,
.social-media-info,
.member-info,
.message-and-settings {
    background: rgba(76, 79, 83, 0.2);
}

.chart-1,
.chart-2,
.members-1,
.activity-2 {
    background: rgba(169, 148, 202, 0.2);
}

.social-1,
.social-2,
.social-3,
.message,
.settings {
    background: rgba(108, 108, 211, 0.2);
}

header {
    background: #7477BF;
}

nav {
    background: #4D4C71;
}

main {
    background: white;
}

/*....................................................................*/

header {
    display: flex;
}

.header-right {
    display: flex;
    align-self: center;
    width: 195px;
    justify-content: space-around;
}

h1 {
    flex: 1;
    padding-left: 15px;
    font: 20px/55px arial, san-serif;
    color: white;
}

h3 {
    font: 16px/38px arial, san-serif;
    color: white;
}

.bell-icon {
    width: 25px;
    height: 25px;
    top: 3px;
    right: -15px;
    position: relative;
    align-self: center;
}

.notification {
    width: 8px;
    height: 8px;
    top: -37px;
    right: -13px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    background-color: rgb(56, 160, 56);
}

.bell-icon:hover {
    cursor: pointer;
    width: 26px;
    height: 26px;
}

.bell-icon:hover>.notification {
    width: 9px;
    height: 9px;
    top: -37px;
    right: -13px;
    background: rgb(60, 203, 60);
    transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
}

.profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 7px;
    float: left;
}

/* navigation */

nav img {
    display: flex;
    width: 32px;
    height: 28px;
    margin: 5px;
    align-self: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    background-color: rgb(87, 99, 112);
}


/* inside of row 1 */

.main-header {
    display: flex;
}

/* inside of .main-header */

.dash-top h2 {
    font: bold 18px arial, san-serif;
    align-self: center;
    padding-left: 12px;
    margin-right: 12px;
    color: rgb(47, 56, 56);
}

.main-header-search {
    flex: 1;
    background-color: darkgrey;
    border-bottom-left-radius: 8px;
    padding: 10px 5px;
}

input[type=search] {
    color: black;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    display: block;
    float: right;
    height: 30px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.alert {
    box-sizing: border-box;
    font: 13px/40px arial, san-serif;
    padding: 10px;
    color: white;
}

.alert-banner {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 40px;
    border-radius: 5px;
    background: #7477BF;
}

.alert-banner-close {
    margin-left: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* inside of row 2 */

.full-size-chart {
    padding-bottom: 10px;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 5px 8px;
}

.traffic-header h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(47, 56, 56);
}

ul li {
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    color: rgb(47, 56, 56);
}

/* inside of row 3 */

.half-size-charts {
    padding: 15px 0 0;
}

.half-size-charts h3,
.member-info h3,
.message-and-settings h3 {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 8px;
    color: rgb(47, 56, 56);
}

.chart-1,
.chart-2,
.activity-2,
.message {
    padding-bottom: 15px;
}

/* inside of row 4 */

.social-media-info {
    padding-bottom: 20px;
}

.social-1,
.social-2,
.social-3 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: .5px solid grey;
    margin: 20px 10px 0;
    padding: 10px 15px;
}

.twitter-image,
.facebook-image,
.google-image {
    background: #7477BF;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.social-text {
    font-family: arial, san-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 25px;
    color: #7477BF;
}

.social-number {
    font-size: 35px;
    font-weight: 100;
    color: rgb(47, 56, 56);
    padding: 10px 0 0 0;
}


/* inside of row 5 */

.members-container {
    display: flex;
    font-size: 13px;
    font-family: arial, san-serif;
    margin: 15px 15px 5px 5px;
}

.members-image {
    padding: 5px;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.members-text {
    flex: 1;
    font-size: 15px;
    font-family: arial, san-serif;
    padding: 5px;
}

.members-text a {
    color: purple;
    font-size: 13px;
    text-decoration: none;
    display: block;
}

/* recent activity */

.activity-2 {
    font-family: arial, san-serif;
    font-size: 14px;
}

.activity-container {
    display: flex;
}

.activity-text {
    padding: 5px 10px 0 0;
    margin-left: 10px;
}

.activity-image {
    padding: 5px 5px 0 10px;
}

.activity-time {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 5px 0 5px 0;
}

/* message section*/
.widget-container {
    padding: 0 10px;
}

.widget-container input[type=text],
.widget-container textarea,
.widget-container button {
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
}

.widget-container textarea {
    height: 100px;
}

/* settings section */

.switch-light,
.switch-ios {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
}

strong {
    margin: 10px 0 25px 10px;
    width: 50%;
}

.settings-button {
    text-align: center;
}

.settings-button button {
    color: black;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 150px;
    margin: 20px 10px 60px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.form-field {
    width: 320px;
    align-content: center;
    height: 35px;
    border-radius: 3px;
    border: 0;
}

.center {
    text-align: center;
}